@mixin section-portfolio {
    .aside-education, .main-skills{
        width: 100%;
        padding: 10px 0;
        td{
            padding-left: 20px;
            width: auto;
        }
    }
    .main-skills{
        table{
            th{
                width: 100%;
            }
        }
    }

}